.nxt{
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 40px;
    font-weight: bolder;
    background-color: rgb(9, 240, 78);
    color: white;
    border: 2px solid white;
    cursor: pointer;
    float: right;
    
}

.nbk{
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 40px;
    font-weight: bolder;
    background-color: rgb(9, 240, 78);
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}





